mixin comment(owner, createdAt, text, id)
    div.comment-mixin_div(data-id=id)
        div
            a(href=`/users/${owner}`)
                span #{owner}・#{createdAt.toDateString().substr(4, 11)}
            if (user)
                if (owner === user.username)
                    button.remove-button Remove
        p=text
        