mixin video(potato)
    div.videos__div
        a(href=`/videos/${potato.id}`)
            div.image_div
            h4=potato.title
            h5=potato.description
        if(potato.owner.username)
            span Uploaded by
                a(href=`/users/${potato.owner.username}`) 
                    span#blue-link #{potato.owner.username}
        span#views-span #{potato.meta.views} #{potato.meta.views > 1 ? "views" : "view"}
