mixin video(banana)
    div.videos__div
        a(href=`/videos/${banana.id}`)
            div.image_div(style=`background-image: url(/${banana.thumbUrl})`)
            h4=banana.title
            h5=banana.description
        if(banana.owner.username)
            span Uploaded by
                a(href=`/users/${banana.owner.username}`) 
                    span.blue-link #{banana.owner.username}
        span#views-span #{banana.meta.views} #{banana.meta.views > 1 ? "views" : "view"}
