extends base
include mixins/comment

block potato
    div.watch-page
        div#watch-page-video-div(data-id=video._id)
            video(src="/" + video.fileUrl, object-fit="contain", preload="metadata")
            div#controllls
                i(id="play" class="fas fa-play")
                i(id="small-player" class="fa-solid fa-arrow-up-right-from-square")
                span#time 00:00/00:00
                input#timeline(type="range" step="0.1", min ="0" class="styled-slider slider-progress")
                i(id="mute" class="fas fa-volume-up")
                input(type="range",step="0.001",  min="0", max="1" class="styled-slider slider-progress")#volume
                i(id="fullscreen" class="fas fa-expand")
        h1#vid_title=video.title
        span#vid_title__views_span #{video.meta.views} #{video.meta.views > 1 ? "views" : "view"}・#{video.createdAt.toDateString().substr(4, 11)}
        div.uploader_watch-page
            div.uploader
                if (video.owner.socialOnly)
                    img(src=`${video.owner.avatarUrl}`, crossorigin, alt="avatar", width="100px", height="100px")
                else 
                    img(src=`/${video.owner.avatarUrl}`, alt="avatar", width="100px", height="100px")
            span.uploader-span
                a(href=`/users/${video.owner.username}`)
                    span Uploaded by
                    span.blue-link=video.owner.name
                
                if(loggedIn)
                    if (String(video.owner._id) === String(user._id))
                        div.edit-video__delete
                            a(href=`${id}/edit`)
                                span Edit Details
                            a(href=`${id}/delete`)
                                span.delete_video Delete🔥
        p.video-description=video.description
        ul
            each hashtagg in video.hashtags
                li=hashtagg
    if loggedIn
        div.video_comment-section
            form.video_comment-form#commentForm
                input(id="comment" type="text" name="comment" placeholder="Write a comment")
                button(type="submit") Comment
    else 
        span Login to leave a comment

    div.video_comments
        each comment in video.comments
            +comment(comment.owner.username, comment.createdAt, comment.text, comment.id)
                 
block scripts 
    script(src="/assets/js/videoplayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")