extends base 

block potato
    div.watch-page
        div#watch-page-video-div(data-id=video._id)
            video(src="/" + video.fileUrl, object-fit="contain", preload="metadata")
            div#controllls
                i(id="play" class="fas fa-play")
                i(id="mute" class="fas fa-volume-up")
                input(type="range",step="0.001",  min="0", max="1")#volume
                span#time 00:00/00:00
                input#timeline(type="range" step="0.1", min ="0")
                i(id="small-player" class="fa-solid fa-arrow-up-right-from-square")
                i(id="fullscreen" class="fas fa-expand")
        h1#vid_title=video.title
        span.uploader-span Uploaded by
            a(href=`/users/${video.owner.username}`)
                span#blue-link=video.owner.name
            
            p.video-description=video.description
            each hashtagg in video.hashtags
                li=hashtagg
            div.uploader 
            if (!video.owner.socialOnly)
                img(src=`/${video.owner.avatarUrl}`, alt="avatar", width="100px", height="auto")
            else 
                img(src=`${video.owner.avatarUrl}`, alt="avatar", width="100px", height="auto")
block scripts 
    script(src="/assets/js/videoplayer.js")